{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Water 后台管理</title>
    <link rel="stylesheet" href="{% static 'css/layui.css' %}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Water 后台系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {{ request.user.username }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="">登录日志</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">操作日志</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">本账号操作日志</a></dd>
                        <dd><a href="javascript:;">所有操作日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">水质图表</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">所有数据</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">设备管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">设备列表</a></dd>
                        <dd><a href="javascript:;">添加设备</a></dd>
                        <dd><a href="javascript:;">修改设备信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">信息共享中心</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">添加分享</a></dd>
                        <dd><a href="javascript:;">共享中心</a></dd>
                        <dd><a href="javascript:;">搜索作者</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人信息</a></dd>
                        <dd><a href="javascript:;">修改基本信息</a></dd>
                        <dd><a href="javascript:;">修改密码</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-form" style="padding: 15px;">

            <form class="layui-form" action="{% url 'water_test' %}" method="post" novalidate>
                {% csrf_token %}
                {% for field in form_obj %}
                    <div class="layui-form-item"{% if field.errors.0 %} has-error {% endif %}>
                        <label class="layui-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <span class="text-danger">{{ field.errors.0 }}</span>
                    </div>
                {% endfor %}
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    </div>
                </div>
            </form>


            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">站点总数</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">正常站点数</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">离线站点数</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">异常站点数</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="{% static 'js/layui.js' %}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

</script>
{#<script type="text/javascript">#}
{#    layui.config({#}
{#        base: '/lib/'#}
{#    }).extend({#}
{#        ckplayer: 'ckplayer/ckplayer'#}
{#    }).use(['jquery', 'ckplayer'], function() {#}
{#        var $ = layui.$,#}
{#            ckplayer = layui.ckplayer;#}
{#        var vUrl = $('#video').data('url'),#}
{#        	videoObject = {#}
{#            container: '#video',#}
{#            loop: true,#}
{#            autoplay: true,#}
{#            video: [#}
{#                [vUrl, 'video/mp4']#}
{#            ]#}
{#        };#}
{#        var player = new ckplayer(videoObject);#}
{#    });#}
{#    </script>#}
{#</body>#}
</html>